body {
/*  font-family: "Comfortaa", Trebuchet MS, Arial, sans-serif; */
  font-family: Trebuchet MS, Arial, sans-serif;
  font-family: Rubik;
}
html {
  background-color: rgb(236, 236, 236);
}
body {
  width: 1000px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 160px 1fr;
  grid-template-rows: 1fr auto;
  padding-top: 90px;
}
header {
  margin-bottom: 10px;
  padding: 0.1px;
  padding-left: 5px;
  padding-right: 5px;
  background: linear-gradient(45deg, red, blue);
  /*grid-column: 1 / span 2;*/
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
}
footer {
  margin-top: 20px;
  background: linear-gradient(45deg, red, blue);
  color: rgb(255, 231, 235);
  padding-top: 90px;
  padding-bottom: 20px;
  text-align: center;
  grid-column: 1 / span 2;
}
.bebas-neue-regular {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}
header{
  font-family: Bebas Neue;
  color: white;
  font-style: italic;
}
#menu {
  grid-column: 1;
}
header {
  display: flex;
  z-index: 10000;
}
header h1 {
  
  flex-grow: 1;
}
header form {
  
  margin-top: 29px;
}
#map { height: 180px; }
img{
  width: 50%;
}
#map {
  height: 500px;
}

.photo-choisie {
  max-width: 800px;
  max-height: 800px;
  display: block;
  margin: auto;
  padding: 2.0em;
}
#photo {    display: flex;
  overflow: auto;
}


a.polyline-measure-controlOnBgColor, a.polyline-measure-controlOnBgColor:hover {
  background-color: #8f8;
}

.polyline-measure-unicode-icon {
  font-size: 19px;
  font-weight: bold;
}

a.polyline-measure-clearControl:active {
  background-color: #f88;
}

.polyline-measure-unicode-icon, .polyline-measure-clearControl, #unitControlId
{
  cursor: pointer;
}







.polyline-measure-tooltip {
  font: 10px Arial, Helvetica, sans-serif;
  line-height: 10px;
  background-color: rgba(255, 255, 170, 0.7);
  border-radius: 3px;
  box-shadow: 1px 1px 4px #888;
  margin: 0;
  padding: 2px;
  width: auto !important;
  height: auto !important;
  white-space: nowrap;
  text-align: right;
}

.polyline-measure-tooltip-end {
  background-color: rgba(255, 255, 40, 0.7);
}

.polyline-measure-tooltip-total {
  color: #006;
  font-weight: bold;
}

.polyline-measure-tooltip-difference {
  color: #060;
  font-style: italic;
}

.polyline-measure-popupTooltip {
  font: 11px Arial, Helvetica, sans-serif;
  line-height: 11px;
}